/***** * Hero *****/
.hero {
  background: url('../images/wallpaper3.jpg');
  height: 920px;
  background-size: cover;
  background-position: center;
  position: relative;
}


.hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;

  /* Animation */
  opacity: 0;
  animation: heroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.82, 0.2, 1);
}

.hero p {
  color: rgba(255, 255, 255, .8);
  font-size: 30px;
  line-height: 1.5;

  /* Animation */
  opacity: 0;
  animation: heroAnimation;
  animation-duration: 3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.82, 0.2, 1);
}

.hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.82, 0.2, 1);
}

.hero a:hover {
  background: white;
  color: black;
}

@media (max-width: 640px) {  
  .hero h1 {
    font-size: 40px;
  }

  .hero p {
    font-size: 24px;
  }
}

@keyframes heroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);  /* starts down and goes up */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
